# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build
build
dist
nbproject
results/*
uml/*~*
data/.*
third_party/local
third_party/src/bamtools/build
third_party/src/bamtools/bin
third_party/src/bamtools/include
third_party/src/bamtools/lib


